{{define "title"}}
    {{ .Product.Title }}
{{end}}

{{define "main"}}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="/products">产品列表</a></li>
                <li class="active">{{ .Product.Title }}</li>
            </ol>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default" style="border: none;padding: 0 15px;">
                <div class="panel-heading">
                    <h3 class="text-center">{{ .Product.Title }}</h3>
                    <div class="meta text-center">
                        <span title="{{ .Product.Title }}">{{ .Product.CreatedAt }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div>{{ .Product.Htmlcontent }}</div>
                </div>
            </div>
        </div>
    </div>
{{end}}