{{define "title"}}所有文章{{end}}

{{define "main"}}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                <li class="active">所有文章</li>
            </ol>
        </div>

        <div class="col-xs-12">
            <ul class="list-group border-bottom">
                {{ range $key, $article := .Articles }}
                <li class="list-group-item"><a href="{{ $article.Link }}">{{ $article.Title }}</a> <span class="meta" title="{{ $article.Title }}"> {{ $article.CreatedAt }}</span></li>
                {{ end }}
            </ul>
            {{template "pagination" .PagerData }}
        </div>
    </div>
{{end}}